# Activit√© - Langage SQL

Pour cr√©er une base de donn√©es et effectuer des requ√™tes sur cette derni√®re, vous allez utiliser le syst√®me de gestion de base de donn√©es `sqlite` disponible via notebook basthon.

Vous allez cr√©er une base de donn√©es permettant de g√©rer des livres.





<center><span style="font-size:5rem;">üìö</span></center>

## 1. Cr√©ation d'une table

üíª __√Ä Faire 1__ : Ex√©cuter le code suivant et constater le r√©sultat obtenu.

In [ ]:
CREATE TABLE LIVRES
    (id INT, titre TEXT, auteur TEXT, ann_publi INT, note INT, PRIMARY KEY (id));

... Aucun r√©sultat n'apparait mais vous venez de cr√©er votre premi√®re table !

Revenons sur cette premi√®re requ√™te :

Le `CREATE TABLE LIVRES` cr√©e une nouvelle table nomm√©e "LIVRES".


Les attributs sont d√©crits dans la parenth√®se () :

- `id`
- `titre`
- `auteur`
- `ann_publi`
- `note`

Pour chaque attribut, il faut pr√©ciser son domaine : 

- `id` : entier (INT), 
- `titre` : cha√Æne de caract√®res (TEXT), 
- `auteur` : cha√Æne de caract√®res, 
- `ann_publi` : entier
- `note` : entier

L'attribut `id` va jouer ici le r√¥le de cl√© primaire, nous avons donc pr√©cis√© dans notre requ√™te que `id` jouera le r√¥le de cl√© primaire (PRIMARY KEY (id)). 

‚ö†Ô∏è __Notre syst√®me de gestion de base de donn√©es nous avertira si l'on tente d'attribuer 2 fois la m√™me valeur √† l'attribut `id`.__

## 2. Ajout de donn√©es

Vous allez maintenant ajouter des donn√©es √† notre table.

üíª __√Ä Faire 2__ : Ex√©cuter le code suivant et constater le r√©sultat obtenu.

In [ ]:
INSERT INTO LIVRES
    (id, titre, auteur, ann_publi, note)
    VALUES
    (1,'1984','Orwell',1949,10),
    (2,'Dune','Herbert',1965,8),
    (3,'Fondation','Asimov',1951,9),
    (4,'Le meilleur des mondes','Huxley',1931,7),
    (5,'Fahrenheit 451','Bradbury',1953,7),
    (6,'Ubik','K.Dick',1969,9),
    (7,'Chroniques martiennes','Bradbury',1950,8),
    (8,'La nuit des temps','Barjavel',1968,7),
    (9,'Blade Runner','K.Dick',1968,8),
    (10,'Les Robots','Asimov',1950,9),
    (11,'La Plan√®te des singes','Boulle',1963,8),
    (12,'Ravage','Barjavel',1943,8),
    (13,'Le Ma√Ætre du Haut Ch√¢teau','K.Dick',1962,8),
    (14,'Le monde des ƒÄ','Van Vogt',1945,7),
    (15,'La Fin de l‚Äô√©ternit√©','Asimov',1955,8),
    (16,'De la Terre √† la Lune','Verne',1865,10);

... Aucun r√©sultat n'apparait mais vous venez d'ins√©rer les livres dans la table LIVRE.

‚ö†Ô∏è __Les requ√™tes de cr√©ation et d'insertion ne renvoient pas, √† proprement parler, de r√©sultats.__

## 3. Interrogation de donn√©es

üíª __√Ä Faire 3__ : Ex√©cuter le code suivant et constater le r√©sultat obtenu.

In [ ]:
SELECT id, titre, auteur, ann_publi, note
FROM LIVRES

Apr√®s un temps plus ou moins long, vous devriez voir s'afficher les donn√©es des livres sous forme tabulaire.

üíª __√Ä Faire 4__ : Effectuer une requ√™te qui permet d'obtenir le titre et l'auteur de tous les livres pr√©sents dans la table LIVRES.

üíª __√Ä Faire 5__ : Ex√©cuter le code suivant et constater le r√©sultat obtenu.

In [ ]:
SELECT titre, ann_publi
FROM LIVRES
WHERE auteur = 'Asimov'

V√©rifier que vous obtenez bien uniquement les livres √©crits par Isaac Asimov.

üíª __√Ä Faire 6__ : Effectuer une requ√™te permettant d'obtenir uniquement les titres des livres √©crits par Philip K.Dick.

üíª __√Ä Faire 7__ : Ex√©cuter le code suivant et constater le r√©sultat obtenu.

In [ ]:
SELECT titre, ann_publi
FROM LIVRES
WHERE auteur = 'Asimov' AND ann_publi > 1953

V√©rifier que vous obtenez bien les livres √©crits par Asimov publi√©s apr√®s 1953.

üíª __√Ä Faire 8__ : √âcrire une requ√™te permettant d'obtenir les titres des livres publi√©s apr√®s 1945 qui ont une note sup√©rieure ou √©gale √† 9.

üíª __√Ä Faire 9__ : √âcrire une requ√™te permettant d'obtenir les livres de K.Dick class√©s du plus ancien ou plus r√©cent.

## 4. Suppression d'une table

üíª __√Ä Faire 10__ : Ex√©cuter les codes suivants et constater le r√©sultat obtenu.

In [ ]:
DROP TABLE LIVRES

In [ ]:
SELECT id, titre, auteur, ann_publi, note
FROM LIVRES

‚ùì__√Ä Faire 11__ :

## 5. Manipulation de plusieurs tables

üíª __√Ä Faire 12__ : Ex√©cuter les codes suivants et constater le r√©sultat obtenu.

In [ ]:
CREATE TABLE AUTEURS
(id INT, nom TEXT, prenom TEXT, ann_naissance INT, langue_ecriture TEXT, PRIMARY KEY (id));

CREATE TABLE LIVRES
(id INT, titre TEXT, id_auteur INT, ann_publi INT, note INT, PRIMARY KEY (id), FOREIGN KEY (id_auteur) REFERENCES AUTEURS(id));

‚ö†Ô∏è Comme vous l'avez sans doute remarqu√© nous avons pr√©cis√© dans notre requ√™te que l'attribut "id_auteur" jouera le r√¥le de __cl√© √©trang√®re__ : liaison entre "id_auteur" de la table LIVRES et "id" de la table AUTEURS (FOREIGN KEY (id_auteur) REFERENCES AUTEURS(id)).

In [ ]:
INSERT INTO AUTEURS
(id,nom,prenom,ann_naissance,langue_ecriture)
VALUES
(1,'Orwell','George',1903,'anglais'),
(2,'Herbert','Frank',1920,'anglais'),
(3,'Asimov','Isaac',1920,'anglais'),
(4,'Huxley','Aldous',1894,'anglais'),
(5,'Bradbury','Ray',1920,'anglais'),
(6,'K.Dick','Philip',1928,'anglais'),
(7,'Barjavel','Ren√©',1911,'fran√ßais'),
(8,'Boulle','Pierre',1912,'fran√ßais'),
(9,'Van Vogt','Alfred Elton',1912,'anglais'),
(10,'Verne','Jules',1828,'fran√ßais');

INSERT INTO LIVRES
(id,titre,id_auteur,ann_publi,note)
VALUES
(1,'1984',1,1949,10),
(2,'Dune',2,1965,8),
(3,'Fondation',3,1951,9),
(4,'Le meilleur des mondes',4,1931,7),
(5,'Fahrenheit 451',5,1953,7),
(6,'Ubik',6,1969,9),
(7,'Chroniques martiennes',5,1950,8),
(8,'La nuit des temps',7,1968,7),
(9,'Blade Runner',6,1968,8),
(10,'Les Robots',3,1950,9),
(11,'La Plan√®te des singes',8,1963,8),
(12,'Ravage',7,1943,8),
(13,'Le Ma√Ætre du Haut Ch√¢teau',6,1962,8),
(14,'Le monde des ƒÄ',9,1945,7),
(15,'La Fin de l‚Äô√©ternit√©',3,1955,8),
(16,'De la Terre √† la Lune',10,1865,10);

üíª __√Ä Faire 13__ : Ex√©cuter les codes suivants et constater le r√©sultat obtenu.

In [ ]:
SELECT titre,nom, prenom
FROM LIVRES
INNER JOIN AUTEURS ON LIVRES.id_auteur = AUTEURS.id

‚ö†Ô∏è Si un m√™me nom d'attribut est pr√©sent dans les 2 tables (par exemple ici l'attribut id), il est n√©cessaire d'ajouter le nom de la table devant afin de pouvoir les distinguer (AUTEURS.id et LIVRES.id).

üíª __√Ä Faire 14__ : √âcrire une requ√™te permettant d'obtenir les titres des livres publi√©s apr√®s 1945 ainsi que le nom de leurs auteurs.

üíª __√Ä Faire 15__ : √âcrire une requ√™te permettant d'ajouter l'auteur Arthur C. Clarke, nait en 1917, √©crivant naturellement en langue anglaise.

üíª __√Ä Faire 16__ : √âcrire une requ√™te permettant d'ajouter le livre suivant ayant pour titre "2001 : L'Odyss√©e de l'espace", √©crit en 1968 par Arthur C. Clarcke, ayant une note de 7.

üíª __√Ä Faire 17__ : √âcrire une requ√™te permettant d'attribuer la note de 10 √† tous les livres √©crits par Asimov publi√©s apr√®s 1950.

üíª __√Ä Faire 18__ : √âcrire une requ√™te permettant de supprimer les livres publi√©s avant 1945.